<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Variable Width Columns</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1 slot="fixed">Grid With Columns with varying sizes based on content</h1>
    <br />
    <br />
    <br />
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col> </ion-col>
        <ion-col size="auto">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col>
                <ion-button>A</ion-button>
                <ion-button>A</ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col>
                <ion-button>A</ion-button>
                <ion-button>A</ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col>
                <ion-button>A</ion-button>
                <ion-button>A</ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col>
                <ion-button>A</ion-button>
                <ion-button>A</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
